@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes floatSquare{
   
      0%, 100%{
         transform: translateX(0) rotate(12deg);
          background-color: rgba(96, 165, 250, 0.3);
        }
      50% { 
        transform: translateX(-50%) rotate(12deg);
         background-color: rgba(168, 85, 247, 0.3);
       }

    }


 .animate-square {
   animation: floatSquare 12s ease-in-out infinite;
  }

  @keyframes fadeup {
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }
  .reload{
    animation:fadeup 1s ease-in forwards;
  }